<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Item</title>
</head>
<body>
<a href="/items">Back</a>
<h2 th:text="${item.title}"></h2>
<p th:text="${item.description}"></p>
<span th:if="${item.category != null}" th:text="${item.category.name}"></span>
<table border="1">
    <tr>
        <th>id</th>
        <th>comment</th>
        <th>itemName</th>
        <th>action</th>
    </tr>
    <br>

    <tr th:each="comment:${comments}">
        <td th:text="${comment.getId()}"></td>
        <td th:text="${comment.getComment()}"></td>
        <td th:text="${comment.item.title}"></td>
        <td><a th:href="@{/comments/remove(id=${comment.getId()})}">Remove</a></td>
    </tr>
    <br>

    <form action="/comments/add"  method="post">
        <input type="hidden" name="id" th:value="${item.id}">
        <textarea name="comment"></textarea>
        <input type="submit" value="create">
    </form>

</table>
</body>
</html>
